.subscription{
    background-color: #F0E3DF;;
    padding: 16px 0;
    box-sizing: border-box;

    &__title{
        margin-bottom: 16px;
    }

    &__inner{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item{
        text-transform: uppercase;     
        color: #765151;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-right: 8px;
    }

    &__link{
        display: flex;
        align-items: center;

        &:nth-of-type(1){
            margin-right: 8px;
        }
    }

    &__icon{
        width: 17px;
        height: 17px;
        fill: #765151;
        transition: fill .5s;
    }
}

@media screen and (min-width: 768px) {
    .subscription{
        padding: 48px 0;
    
        &__title{
            margin-bottom: 24px;
        }

        &__item{     
            font-size: 24px;
            margin-right: 16px;
        }
    
        &__link{
            display: flex;
            align-items: center;
    
            &:nth-of-type(1){
                margin-right: 10px;
            }
        }

        &__icon{
            width: 30px;
            height: 30px;
            fill: #765151;
        }
    }
}

@media screen and (min-width: 1180px) {
    .subscription{

        &__icon--inst{
            &:hover{
                fill: #d13a8d;
            }
        }

        &__icon--vk{
            &:hover{
                fill: #3a6fd1;
            }
        }
    }
}