.container{
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;

    &--size--s{
        max-width: 280px;
    }

    &--size--m{
        padding: 0 20px;
    }
}


@media screen and (min-width: 768px) {
    .container{

        &--size--s{
            max-width: 500px;
        }
    }
}

@media screen and (min-width: 1180px) {
    .container{

        &--size--s{
            max-width: none;
        }
    }
}