.icon{

    &--social{
        width: 17px;
        height: 17px;
        fill: #765151;
    }
}

@media screen and (min-width: 768px) {
    .icon{

        &--social{
            width: 30px;
            height: 30px;
            fill: #765151;
        }
    }
}