.more{
    position: relative;
    padding-bottom: 12px;

    &__item{
        font-size: 10px;
        color: #fff;
        margin: 0;
    }

    &::after{
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        bottom: 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(45deg) translateX(-50%);
    }
}

@media screen and (min-width: 768px) {
    .more{
        padding-bottom: 40px;

        &__item{
            font-size: 30px;
        }

        &::after{
            width: 25px;
            height: 25px;
            border-right: 3px solid #fff;
            border-bottom: 3px solid #fff;
           
        }
    }
}

@media screen and (min-width: 1180px) {
    .more{
        cursor: pointer;
    }
}