.innovation{
    padding: 16px 0;

    &__title{
        margin-bottom: 18px;
    }

    &__inner{
        margin: 0 auto;
        max-width: 280px;

        :not(:last-child){
            margin-bottom: 18px;
        }
    }
}

@media screen and (min-width: 768px) {
    .innovation{
        padding: 48px 0;

        &__inner{
            max-width: 600px;
        }
    
        &__title{
            margin-bottom: 24px;
        }
    
        :not(:last-child){
            margin-bottom: 24px;
        }
    }
}